---
layout: archive
---
<div text-align="center">Math 2500</div>
{% for lesson in site.math2500 %}
  <a href="{{ lesson.url }}">{{ lesson.title }}</a> <br>
{% endfor %}

<div text-align="center">PSCI 2259</div>
{% for lesson in site.psci2259 %}
  <a href="{{ lesson.url }}">{{ lesson.title }}</a> <br>
{% endfor %}



<!-- {{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %} -->
